<header class="header_section">
  <nav class="navbar navbar-expand-lg custom_nav-container">
    <div class="custom_menu-btn">
      <button onclick="openNav()">
        <span class="s-1"> </span>
        <span class="s-2"> </span>
        <span class="s-3"> </span>
      </button>
    </div>
    <div id="myNav" class="overlay">
      <div class="menu_btn-style">
        <button onclick="closeNav()">
          <span class="s-1"> </span>
          <span class="s-2"> </span>
          <span class="s-3"> </span>
        </button>
      </div>
      <div class="overlay-content">
        <a class="<%= link === 'index' && 'active' %>" href="/"> Home </a>
        <a class="<%= link === 'about' && 'active' %>" href="/about"> About </a>
        <a class="<%= link === 'photos' && 'active' %>" href="/photos">
          Photos
        </a>

        <% if (user) { %>
        <a
          class="<%= link === 'dashboard' && 'active' %>"
          href="/users/dashboard"
        >
          Dashboard
        </a>

        <a class="<%= link === 'users' && 'active' %>" href="/users"> Users </a>

        <% } %>

       
        <a class="<%= link === 'contact' && 'active' %>" href="/contact">
          Contact
        </a>
      </div>
    </div>
    <a class="navbar-brand" href="/">
      <span> PhotoMarkt </span>
    </a>

    <% if (user) { %>
    <a class="call_btn" href="/logout"> Logout </a>
    <% } else { %>
    <div class="call_btn_1">
      <a class="call_btn && <%= link === 'login' && 'active' %>" href="/login">
        Login
      </a>
      <a
        class="call_btn && <%= link === 'register' && 'active' %>"
        href="/register"
      >
        Register
      </a>
    </div>
    <% } %>
  </nav>
</header>
