<header class="header_section">
  <nav class="navbar navbar-expand-lg custom_nav-container">
    <div class="custom_menu-btn">
      <button onclick="openNav()">
        <span class="s-1"> </span>
        <span class="s-2"> </span>
        <span class="s-3"> </span>
      </button>
    </div>
    <div id="myNav" class="overlay">
      <div class="menu_btn-style">
        <button onclick="closeNav()">
          <span class="s-1"> </span>
          <span class="s-2"> </span>
          <span class="s-3"> </span>
        </button>
      </div>
      <div class="overlay-content">
        <a class="<%= link === 'index' && 'active' %>" href="/"> Home </a>
        <a class="<%= link === 'about' && 'active' %>" href="/about"> About </a>
        <a class="<%= link === 'photos' && 'active' %>" href="/photos"> Photos </a>
        <a class="<%= link === 'users' && 'active' %>" href="/users"> Users </a>
        <a class="<%= link === 'login' && 'active' %>" href="/login"> Login </a>
        <a class="<%= link === 'register' && 'active' %>" href="/register"> Register </a>
    
      </div>
    </div>
    <a class="navbar-brand" href="/">
      <span> Photosec </span>
    </a>
  
   
    <a href="/contact" class="call_btn">  Call Us Now </a>
  </nav>
</header>
