<%- include('partials/_header') %>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <%- include('partials/_menu') %>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section position-relative">
      <div class="container-fluid">
        <div class="row">
          <div class="detail-box col-lg-4 col-md-5">
            <div
              id=""
              class="carousel slide slider_text_carousel"
              data-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="detail_content">
                    <div>
                      <h1>
                        Photography <br />
                        Studio
                      </h1>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="detail_content">
                    <div>
                      <h1>
                        Photography <br />
                        Studio
                      </h1>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="detail_content">
                    <div>
                      <h1>
                        Photography <br />
                        Studio
                      </h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="img-box col-lg-8 col-md-7">
            <div
              id=""
              class="carousel slide slider_image_carousel carousel-fade"
              data-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="<%= photos[0].url %>"
                    alt=""
                    style="max-height: 66rem; object-fit: cover"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="<%= photos[1].url %>"
                    alt=""
                    style="max-height: 66rem; object-fit: cover"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="<%= photos[2].url %>"
                    alt=""
                    style="max-height: 66rem; object-fit: cover"
                  />
                </div>
              </div>
            </div>
            <div class="carousel_btn-box">
              <a
                class="slider_btn_prev"
                href=""
                role="button"
                data-slide="prev"
              >
                <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="slider_btn_next"
                href=""
                role="button"
                data-slide="next"
              >
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>



  <!-- portfolio section -->
  <section class="portfolio_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>Photos</h2>
      </div>
      <div class="portfolio_container">
        <div class="row">
          <% for (photo of photos) { %>
          <div class="img-box">
            <img
              src="<%= photo.url %>"
              alt=""
              style="height: 20rem; object-fit: cover"
            />
            <div class="btn-box">
              <a href="/photos/<%= photo._id %>">
                <div>
                  <h3 style="padding-top: 10px"><%= photo.name %></h3>
                  <i
                    class="fa fa-external-link-square"
                    aria-hidden="true"
                    style="padding-top: 3rem"
                  ></i>
                  <p style="padding-top: 10px">
                    <%= photo.description.substring(0, 15) + '...' %>
                  </p>
                </div>
              </a>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </section>
  <!-- end portfolio section -->

  <!-- team section -->
  <section class="portfolio_section">
    <div class="container">
      <div class="row" >
        <div class="col-md-6 call_btn_2">
          <h3><%= numOfUser %></h3>
          <h5>Num of User</h5>
        </div>
        <div class="col-md-6 call_btn_2">
          <h3><%= numOfPhotos %></h3>
          <h5>Num of Photos</h5>
        </div>
      </div>
    </div>
  </section>
  <!-- end team section -->

  <!-- about section -->
  <section class="portfolio_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>About Us</h2>
        <p>
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using LoremIt is a long established fact that a reader will be
          distracted by the readable content of a page when looking at its
          layout. The point of using Lorem
        </p>
      </div>
    </div>
    <div class="portfolio_container">
      <div class="row">
        <div class="img-box">
          <img src="images/about-img.jpg" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->

  <!-- footer section -->
  <%- include('partials/_footer') %>
</body>
